*{
	color:#17202A;
}

body{

}
.col-sm-12,
.col-sm-3,
.col-sm-6,
.col-md-6,
.col-sm-4,
.col-sm-8{
padding: 0px !important;
}
#username::after{
	content: '';
	border-right: 20px solid transparent;
}
.header{
	background-color: #FEFEFE;
	height: auto;
	
}
.header>div:nth-child(2){
	background-color: #A19F9F;
	padding: 1% !important;
}
.header>div:nth-child(2)::after{
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	border-top: 105px solid #A19F9F;
	border-right: 120px solid transparent; 
}
.portada{
	height: 500px;
	background: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.menu{
	width: 100%;
	background-color: black;
	opacity: 0.7;
}
.logo{
	width: 40%;
	margin: 0.4vw;
	margin-left: 30px;
	margin-top: 15px;
}
.nav{
	float: right;
	margin-right: 100px;
	height: 100%;
}
.nav li{
	display: inline-block;
	float: left;
}
.nav li>a{
	color: #2A2A2A;
	font-family: 'Tajawal', sans-serif !important;
	font-size: 20px;
	height: 100%;
	transition-property: background-color,color;
	transition-duration: 0.4s;
	padding-top: 40px;
}

.nav li>a:hover{
	background-color: #A19F9F;
	color: white;
}

  .carousel-inner  {
      width: 100%;
      height: 90vh;
  }
  .carousel-inner>div{
      width: 100%;
      height: 100%;
 }

 .carousel-inner img {
      width: 100%;
      height: 100%;
 }

.row-coleccion{
	height: auto;

}
.card-coleccion{
	padding: 20px !important;

	color: white;
}
.card-coleccion>section{
	border-radius: 10px;
	height: 100%;padding: 20px;

}

.img-coleccion{
	width: 100%;
	height: 100%;
}

.row-prox{
	height: 120vh;
	transition-property: height;
	transition-duration: 0.5s;
}
.card-prox-parent{

}
.card-prox{
	width: 100%;

	padding:  20px !important;
	border-radius: 20px;
	background-color: #E8E4E4;
	box-shadow: 3px 3px 10px gray;
	transition-property: transform, box-shadow: ;
	transition-duration: .2s;
}
.titulo-prox{
	color: white;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 2%;
	margin-bottom: 5%;
	background-color:#D88A0A;
	font-size: 5vw;
}
.card-prox>h4{
	color: #B95914;
	font-family: sans-serif;
	font-weight: bold;
	margin: 10px 0px;
}
.card-prox:hover .img-prox{
	filter: grayscale(0%);

}

.card-prox:hover{
	transform: scale(1.05);
	box-shadow: 3px 3px 3px gray;
}
.img-prox{
	width: 100%;
	height: 220px;

	filter: grayscale(50%);
	border-radius: 50%;
	transition-property: filter;
	transition-duration: 0.7s;
}
.info-prox{
	display: none;
	border-radius: 5px;
	background-color: #E9E4E4;
}
.footer{
		background-color: #2a2a2a;
		color: white;
		padding-top: 20px;
		padding-bottom: 0px;
		padding-right: 0px;
		padding-left: 0px;
		font-family: 'Tajawal', sans-serif;
		font-size: 13px;
		
}
.redes-Sociales{
	display: inline-block;
	float: right;
	width: 100%;
	margin-right: 20px;
}
.redes-Sociales>li{
	width: 20%;
	list-style: none;
	float: right;
}
.redes-Sociales>li>a{
	text-decoration: none;
}
.redes-img{
	width: 60%;
	height: 60%;
	float: right;
}

/*Coleccion Ropa Deportiva*/
#licras>div>div>div:first-child{
	width: 100%;
	
}
#licras>div>div>img{
	width: 70%;
	
}

.card-col-deportiva{
	border: 2px solid #EAE7E7;
	border-radius: 3px;
	margin: 1%;
	padding: 10px !important;
}
.precio-col-depor{
	background-color: #FC814B !important;
	font-family: roboto !important;
	font-size: 1em !important;
	color: white;
	font-weight: bold;
}
.opciones-dialog{
	width: 35%;
	float: left;
	margin: 0px 0px 0px 40px !important;

}
.opciones-dialog>li{
	width: 100%;
	border:1px solid #BDBBBB;
	padding: 20px 40px;
	margin-bottom: 20px;
}
.opciones-dialog>li>img{
	width: 45%;
}
/**************************/

/*Crud_Coleccion*/
.crud-contenedor{
	border: 2px solid #777474;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #5C5A5A;
	min-height: 500px;
	padding: 1%;
}
.crud-contenedor>div:first-child{
	padding: 1%;
	border-right: 1px solid #D1CFCF;
}
.crud-contenedor>div:first-child>ul{
	position: absolute;
	top: 30%;
	right: 0;
	display: block;

}
.crud-contenedor>div:first-child>ul>li{
	list-style: none;
	padding: 0.2%;
	margin-bottom: 5%;
	width: 100%;

}
.crud-contenedor>div:first-child>ul>li>button{
	width: 100%;
	
}
form label{
	font-family: sans-serif;
	font-weight: bold;
}

form input,
form select{
	border-radius: 5px;
	border: 1px solid #CAC5C5;
	padding: 1%;
	width: 50%;
	margin-left: 1%;

}

/**************************/


/*Login*/
.content-login{

	
		
	border-radius: 10px;
	
	font-family: sans-serif;

}
.login-label{
	width: 90%;
	margin-bottom: 0px !important;
	margin-top: 4%;
	margin-right: 10% !important;
}
.content-login-photo{
	background-color: #FFFFFF;
	padding: 5% !important;
	border-radius: 10px;
	font-family: sans-serif;
}
.content-login-photo>img{
	width: 70%;

}
.formulario-ingreso{
	padding: 10% !important;
	background-color: #F6F2F2;
	border-radius: 5px;
	height: 100%;
}
.formulario-registro{
	padding: 10% !important;
	background-color: #F6F2F2;
	border-radius: 5px;
	height: 100%;
	display: none;
}

.invalid{
	color: #E94343;
	font-family: sans-serif;
	font-weight: normal;
}
.content-respuesta{
	width: 40%;
	height: 100px; 
	background-color: #FFFCFC;
	position: absolute;
	top: 0;
	left: 30%;
	border-radius: 0px 0px 3px 3px;
	padding: 2%;
	display: none;
}
.content-respuesta>h4{
	font-family: sans-serif;
	color: #43BC43;
	font-weight: bold;
}

#reglas-contrasena{
	width: 250px;
	padding: 1%;
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	background-color: #E3DCDC;
	border-radius: 3px;
	box-shadow: 2px 2px 4px #C0BDBD;
	z-index: 1;
}
#reglas-contrasena>ul>li{
	font-family: sans-serif;
	font-size: .8em;
	text-align: left;
}


/*************/
/*Clases Especiale*/
.ocultar{}
/************/
@media (max-width: 767px){
	.card-prox{
		margin-bottom: 5%;
	}
	.ocultar{
		display: none;
	}
}
@media (max-width: 500px){
	#slider{
		display: none;
	}
}
