*{
	font-family: roboto;
}

.col-sm-12,
.col-sm-3,
.col-sm-6{
	padding: 0px !important;
}

.header{
	background-color: #C24141;
}


.portada{
	height: 500px;
	background: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.menu{
	width: 100%;
	background-color: black;
	opacity: 0.7;
}

.logo{
	width: 100%;
	margin: 0.4vw;
}
.nav{
	float: right;
	margin-top: 2vw;
	margin-bottom: 0.8vw;
}
.nav li{
	
	display: inline-block;
	float: left; 
	margin-right: 5px;

}

.nav li>a{
	color: white;
	font-family: roboto;
	font-size: 1.5em;
	font-weight: bold;
	border-radius: 5px;
}

.nav li>a:hover{
	background-color: #E98D33;

}

  .carousel-inner  {
      width: 100%;
      height: 90vh;
  }
  .carousel-inner>div{
      width: 100%;
      height: 100%;
 }	

 .carousel-inner img {
      width: 100%;
      height: 100%;
 }	

.row-coleccion{
	height: 90vh;
}
.card-coleccion{
	padding: 20px !important;
	
	color: white;
}
.card-coleccion>section{
	border-radius: 10px; 
	height: 100%;padding: 20px;
}

.img-coleccion{
	width: 100%;
	height: 100%;
}

.row-prox{
	height: 80vh;
}
.card-prox{
	padding:  20px !important;
	border-radius: 20px;
	background-color: #C6C1C1;
	box-shadow: 2px 2px 2px gray;

}
.card-prox>h3{
	font-weight: bold;
	margin: 10px 0px;
}
.card-prox:hover .img-prox{
	filter: grayscale(0%);
	
}
.img-prox{
	width: 100%;
	filter: grayscale(100%);
	border-radius: 50%;
	transition-property: filter;
	transition-duration: 0.7s;
}
.info-prox{
	display: none;
}
/*Slider*/


/**/