*{
	font-family: roboto;
}
body{
	margin:0px 3% !important;
	background-color: #EBE7E7;
	padding-top: 1%;
	padding-bottom: 1%;	
}
.col-sm-12,
.col-sm-3,
.col-sm-6,
.col-md-6{
padding: 0px !important;
}
.header{
	background-color: #2a2a2a;
	height: 110px;
	border-radius: 5px 5px 0px 0px;
}
.portada{
	height: 500px;
	background: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.menu{
	width: 100%;
	background-color: black;
	opacity: 0.7;
}
.logo{
	width: 40%;
	margin: 0.4vw;
	margin-left: 30px;
	margin-top: 15px;
}
.nav{
	float: right;
	margin-right: 100px;
	height: 100%;
}
.nav li{
	display: inline-block;
	float: left;
}
.nav li>a{
	color: white;
	font-family: 'Tajawal', sans-serif;
	font-size: 18px;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0.4s;
	padding-top: 40px;
}

.nav li>a:hover{
	background-color: #7A7978;
}

  .carousel-inner  {
      width: 100%;
      height: 90vh;
  }
  .carousel-inner>div{
      width: 100%;
      height: 100%;
 }

 .carousel-inner img {
      width: 100%;
      height: 100%;
 }

.row-coleccion{
	height: auto;

}
.card-coleccion{
	padding: 20px !important;

	color: white;
}
.card-coleccion>section{
	border-radius: 10px;
	height: 100%;padding: 20px;
}

.img-coleccion{
	width: 100%;
	height: 100%;
}

.row-prox{
	height: 100vh;
}
.card-prox-parent{

}
.card-prox{
	width: 100%;

	padding:  20px !important;
	border-radius: 20px;
	background-color: #E8E4E4;
	box-shadow: 3px 3px 10px gray;
	transition-property: transform, box-shadow: ;
	transition-duration: .2s;
}
.titulo-prox{
	color: white;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 2%;
	margin-bottom: 5%;
	background-color:#D88A0A;
	font-size: 5vw;
}
.card-prox>h4{
	color: #B95914;
	font-family: sans-serif;
	font-weight: bold;
	margin: 10px 0px;
}
.card-prox:hover .img-prox{
	filter: grayscale(0%);

}

.card-prox:hover{
	transform: scale(1.05);
	box-shadow: 3px 3px 3px gray;
}
.img-prox{
	width: 100%;
	filter: grayscale(50%);
	border-radius: 50%;
	transition-property: filter;
	transition-duration: 0.7s;
}
.info-prox{
	display: none;
	border-radius: 5px;
	background-color: #E9E4E4;
}
.footer{
		background-color: #2a2a2a;
		color: white;
		padding-top: 20px;
		padding-bottom: 0px;
		padding-right: 0px;
		padding-left: 0px;
		font-family: 'Tajawal', sans-serif;
		font-size: 13px;
		border-radius: 0px 0px 5px 5px;
}
.redes-Sociales{
	display: inline-block;
	float: right;
	width: 100%;
	margin-right: 20px;
}
.redes-Sociales>li{
	width: 20%;
	list-style: none;
	float: right;
}
.redes-Sociales>li>a{
	text-decoration: none;
}
.redes-img{
	width: 60%;
	height: 60%;
	float: right;
}

/*Slider*/


/**/
/*Clases Especiale*/
.ocultar{}
/************/
@media (max-width: 767px){
	.card-prox{
		margin-bottom: 5%;
	}
	.ocultar{
		display: none;
	}
}
@media (max-width: 500px){
	#slider{
		display: none;
	}
}
